{{! vim: set ft=html: }}

{{#*inline "body"}}

<p>This is the page for course {{name}}</p>
{{#each assignments}}
  {{#if this.Grade}}
    <p>Assignment: {{this.Grade.name}} - Grade: {{this.Grade.grade}}</p>
  {{/if}}
  {{#if this.Point}}
    <p>Assignment: {{this.Point.name}} - Points: {{this.Point.points}} out of {{this.Point.max_points}}</p>
  {{/if}}
{{/each}}

{{/inline}}
{{> base }}
