{{! vim: set ft=html: }}

{{#*inline "body"}}
<p class="flex items-center my-12 font-sans text-6xl font-semibold align-middle lg:my-2 lg:text-lg text-caption">{{i18n script "Улогуј се"}}</p>
<form class="flex flex-col items-center py-16 lg:py-8" action="login" method="post">
  {{> components/input_text icon="la-user" class="focus-within:bg-ccuser" field_name="username_or_email" label_text=(i18n script "Корисничко име или имејл адреса")}}
  {{> components/input_password icon="la-key" class="focus-within:bg-ccpass" field_name="password" label_text=(i18n script "Лозинка")}}
  {{#> components/input_select icon="la-clock" class="focus-within:bg-highbg" field_name="timeout" label_text=(i18n script "Остани улогован")}}
      <option value="60">1 {{i18n script "минут"}}</option>
      <option value="300">5 {{i18n script "минута"}}</option>
      <option value="1200">20 {{i18n script "минута"}}</option>
      <option value="3600">1 {{i18n script "сат"}}</option>
  {{/components/input_select}}
  <br>
  <br>
  {{> components/button button_text=(i18n script "Улогуј се")}}
  {{#if show_error_all_fields_required}}
    {{> components/error error_text=(i18n script "Сва поља су неопходна")}}
  {{/if}}
  {{#if show_error_invalid_login_info}}
    {{> components/error error_text=(i18n script "Неисправни унети подаци")}}
  {{/if}}
</form>

{{/inline}}
{{> base }}
