{{! vim: set ft=html: }}

{{#*inline "body"}}
{{> components/caption text=(i18n "Креирај корисника")}}

{{#if account_type}}
<form class="flex flex-col items-center py-16 space-y-32 lg:space-y-16 lg:py-8" action="" method="post">

{{#if account_type.Administrator}}
  {{> components/text_small text=(i18n "Нови администраторски налог")}}
{{/if}}

{{#if account_type.Professor}}
  {{> components/text_small text=(i18n "Нови професорски налог")}}
{{/if}}

{{#if account_type.Student}}
  {{> components/text_small text=(i18n "Нови студентски налог")}}
{{/if}}

{{else}}
  <form class="flex flex-col items-center py-16 space-y-32 lg:space-y-16 lg:py-8" action="create" method="get">
  {{> components/input_select_account_type field_name="account_type" icon="la-user-circle" border="border-ccacctypebd" class="bg-ccacctype" text=(i18n "Тип налога")}}
{{/if}}

{{#if account_type.Student}}
<div class="flex flex-col space-x-16 lg:flex-row lg:space-x-8">
  <div class="flex flex-col space-y-16 lg:space-y-8">
    {{> components/input_text icon="la-envelope" border="border-ccemailbd" class="bg-ccemail" required="true" field_name="email" text=(i18n "Имејл адреса") value=account_type.Student.previous.email}}
    {{> components/input_text icon="la-user" border="border-ccuserbd" class="bg-ccuser" required="true" field_name="first_name" text=(i18n "Име") value=account_type.Student.previous.first_name}}
    {{> components/input_text icon="la-users" border="border-ccuserbd" class="bg-ccuser" required="true" field_name="last_name" text=(i18n "Презиме") value=account_type.Student.previous.last_name}}
  </div>
  <div class="flex flex-col space-y-16 lg:space-y-8">
    {{#> components/input_select icon="la-clock" border="border-cctimebd" class="bg-cctime" field_name="program" text=(i18n "Програм")}}
      {{#each account_type.Student.programs}}
        <option value="{{this.short_name}}" {{#if (eq ../account_type.Student.previous.program this.short_name)}}selected{{/if}}>{{i18n (concat this.short_name " - " this.full_name)}}</option>
      {{/each}}
    {{/components/input_select}}
    {{#> components/input_select icon="la-calendar" border="border-cctimebd" class="bg-cctime" field_name="generation" text=(i18n "Генерација")}}
      {{#each account_type.Student.generations}}
        <option value="{{this.year}}"{{#if (eq ../account_type.Student.previous.generation this.year)}}selected{{/if}}>{{this.year}}</option>
      {{/each}}
    {{/components/input_select}}
    {{> components/input_base_text icon="la-calendar" border="border-ccprogbd" class="bg-ccprog" type="number" required="true" field_name="index_number" value=account_type.Student.previous.index_number text=(i18n "Број индекса")}}
  </div>
</div>
{{/if}}

{{#if account_type.Professor}}
{{> components/input_text icon="la-envelope" border="border-ccemailbd" class="bg-ccemail" required="true" field_name="email" text=(i18n "Имејл адреса") value=account_type.Professor.previous.email}}
{{> components/input_text icon="la-user" border="border-ccuserbd" class="bg-ccuser" required="true" field_name="first_name" text=(i18n "Име") value=account_type.Professor.previous.first_name}}
{{> components/input_text icon="la-user" border="border-ccuserbd" class="bg-ccuser" required="true" field_name="last_name" text=(i18n "Презиме") value=account_type.Professor.previous.last_name}}
{{/if}}

{{#if account_type.Administrator}}
{{> components/input_text icon="la-envelope" border="border-ccemailbd" class="bg-ccemail" required="true" field_name="email" text=(i18n "Имејл адреса") value=account_type.Administrator.previous.email}}
{{> components/input_text icon="la-user" border="border-ccuserbd" class="bg-ccuser" required="true" field_name="first_name" text=(i18n "Име") value=account_type.Administrator.previous.first_name}}
{{> components/input_text icon="la-users" border="border-ccuserbd" class="bg-ccuser" required="true" field_name="last_name" text=(i18n "Презиме") value=account_type.Administrator.previous.last_name}}
{{/if}}

{{> components/button button_text=(i18n "Даље")}}
{{> components/button_link button_href=(concat "/users") button_text=(i18n "Назад")}}
</form>
{{#if show_success_message}}
  {{> components/success text=(i18n "Корисник је успешно креиран!")}}
{{/if}}
{{#if show_duplicate_data}}
  {{> components/error text=(i18n "Имејл или број индекса су већ у употреби")}}
{{/if}}
{{#if show_invalid_email}}
  {{> components/error text=(i18n "Неисправан унет имејл")}}
{{/if}}

{{/inline}}
{{> base }}
