{{! vim: set ft=html: }}

{{#*inline "body"}}

<p>You are about to delete user
| {{deleting_user.first_name}}
| {{deleting_user.last_name}}
| {{deleting_user.email}}
| {{deleting_user.account_type}}
<form action="{{deleting_user.id}}" method="post">
  <input type="submit" value="Confirm">
</form>
</p>

{{/inline}}
{{> base }}
