{{! vim: set ft=html: }}

{{#*inline "body"}}

<form action="{{editing_user.id}}" method="post">
  <label for="first_name">First name:</label>
  <input type="text" name="first_name" value="{{editing_user.first_name}}">
  <br>
  <label for="last_name">Last name:</label>
  <input type="text" name="last_name" value="{{editing_user.last_name}}">
  <br>
  <label for="email">Email:</label>
  <input type="text" name="email" value="{{editing_user.email}}">
  <br>
  <p>Current account type is {{editing_user.account_type}}</p>
  <label for="account_type">New account type:</label>
  <select name="account_type">
    <option value="0">Student</option>
    <option value="1">Professor</option>
    <option value="2">Administrator</option>
  </select>
  <br>
  <input type="submit" value="Confirm">
</form>

{{/inline}}
{{> base }}
