{{! vim: set ft=html: }}

{{#*inline "body"}}

<form action="{{editing_user.id}}" method="post">
  {{#if editing_user.username}}
    <label for="username">Username:</label>
    <input type="text" name="username" value="{{editing_user.username}}">
    <br>
  {{else}}
    <p>This user didn't set a username yet!</p>
  {{/if}}
  <label for="email">Email:</label>
  <input type="text" name="email" value="{{editing_user.email}}">
  <br>
  <p>Current account type is {{editing_user.account_type}}</p>
  <label for="account_type">New account type:</label>
  <select name="account_type">
    <option value="0">Student</option>
    <option value="1">Professor</option>
    <option value="2">Administrator</option>
  </select>
  <br>
  <input type="submit" value="Confirm">
</form>

{{/inline}}
{{> base }}
