{{! vim: set ft=html: }}

{{#> components/progressbar}}
    <progress class="h-8 rounded-r-md {{bgcol}} {{accentcol}} progress-bg:rounded-r-md" value={{value}} max={{maxvalue}}></progress>
    <div class="absolute z-10 {{textcol}}">{{value}} / {{maxvalue}}</div>
{{/components/progressbar}}