{{! vim: set ft=html: }}

{{#> components/progressbar}}
    <progress class="w-full h-32 lg:h-8 {{bgcol}} {{accentcol}}" value={{value}} max={{maxvalue}}></progress>
    <div class="absolute z-10 text-6xl lg:text-base {{textcol}}">{{value}} / {{maxvalue}}</div>
{{/components/progressbar}}