{{! vim: set ft=html: }}

<div class="border-8 lg:border-2 {{border}}">
  <div {{#if id}} id={{id}} {{/if}} class="flex items-center shadow-lg transition duration-300 ease-out {{bgcol}} ">
          <i class="mx-1 text-8xl {{icon}} las lg:text-2xl {{iconcol}}"></i>
          <div class="flex justify-center items-center w-full">
              {{> @partial-block}}
            <i class="opacity-0 absolute z-10 ml-32 text-8xl animate-ping la-plus-circle las lg:text-2xl {{iconcol}}"></i>
          </div>
  </div>
</div>